*.deps
*.libs
*.o
*.lo
*.la

Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
otpo
otpo_config.h
otpo_config.h.in
stamp-h?

config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure

ADCL/Makefile
ADCL/Makefile.defs
ADCL/config.log
ADCL/config.status
ADCL/lib
