# Configuration file for the solver test suite
# all lines with  # will be ignored
nit: 50 
tol: 1.0e-20
subtol: 1.0e-20 
#0 no output 1 verbose output
verbos: 1
# No. of problemsizes
nprobs: 1 
32 128 128
32 128 128
32 64 128
# No. of solvers. Choose between:
#1 tfqmr 
nsolv: 1
1 
#Parameters for the topology aware communication patterns
nhosts: 2
autos: 0
franks: 0,8
